<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Basic Calculator App - Scripting Lab Week 8</span>
        <span class="spacer"></span>
        <button mat-icon-button class="icon" aria-label="Icon-button menu ">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span>Shuvam Ganguli - 201900302 - B47</span>
        <span class="spacer"></span>
        <button mat-icon-button class="icon" aria-label="Icon-button heart">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="icon" aria-label="Icon-button share">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Calculator</mat-card-title>
        <mat-card-subtitle>Tool</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://cdn.pixabay.com/photo/2016/06/13/07/59/pi-1453836_960_720.jpg" alt="Random maths photo">
    <mat-card-content><p>
        This is a calculator app with some very basic functions, such as:
        <ul>
            <li>Addition, Subtraction, Multiplication and Division on two numbers</li>
            <li>Finding the Factorial of a number - The factorial of a number is the function that multiplies the number by every natural number below it.</li>
            <li>Finding if a number is prime or composite - Prime numbers are the numbers that have only two factors, that are, 1 and the number itself. While, composite numbers are numbers with more than two factors.</li>
        </ul>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>COMMENT</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>
